/* main CSS section tailored towards mobile view - ordered from top of HTML to bottom */

* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    color: #faeff5;
    font-family: 'Poppins', sans-serif;
}

.top-container {
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color:#BFAFB2;
  margin: 1px;
}

header {
  padding-bottom: 1.5%;
  font-size: 1em;
}

.guide-button {
  width: 15%;
  border-radius: 2.5px;
  border: 2px solid black;
  color: black;
  text-align: center;
  font-size: .6em;
}

.guide-description {
  font-size: .75em;
}

.instructions {
  font-size: .75em;
}

ul {
  -webkit-padding-start: 0px;
  list-style-type: none;
  border: 1px solid black;
  text-align: center;
}

li {
  text-align: center;
}

.twitch-search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.search-query {
  width: 60%;
  border-radius: 2.5px;
  border: 2px solid black;
  font-size: 1em;
  height: 55px;
  color: black;
  margin-right: 5px;
}

.submit-button {
  width: 32%; 
  border-radius: 2.5px;
  border: 2px solid black;
  color: black;
  text-align: center;
  font-size: .75em;
}

.mid-container {
  min-height: 65vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5%;
  margin: 2.5px;
  background: url('pics/city-at-dawn.jpeg') no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.streamer-name {
  display: flex;
  font-size: .75em;
  justify-content: center;
  border: 2px solid black;
  background-color:#29AB87;
  color: white;
  width: 50%;
  height: 20px;
  margin: auto;
  margin-bottom: 5px;
}

.change-streamer {
  border: 2px solid black;
  background-color: #29AB87;
  color: white;
  width: 40%;
  height: 25px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: .75em;
}

.stream-filter, option {
  color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover, .change-streamer:hover, .submit-button:hover, .guide-button:hover {
  background-color: lightseagreen;
  font-size: 1em;
}

.filter-label {
background-color: black;
}

.error-message {
  background-color: black;
}

.bot-container {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color:#BFAFB2
}

.game-summary {
  width: 50%;
  font-size: .75em;
  background-color: black;
}

footer {
  padding: 5px;
  background-color:#BFAFB2;
  font-size: .5em;
}

/*  CSS section meant for laptop/computer screens */

@media only screen and (min-width: 850px) {

  header {
    font-size: 1.75em;
  }

  .guide-description {
    font-size: 1.25em;
  }

  .search-query {
    width: 28%;
  }

  .guide-button {
    font-size: .75em;
  }

  .submit-button {
    width: 13%;
    font-size: 1em;
  }

  .change-streamer, .streamer-name {
    width: 37%;
    font-size: 1em;
    height: 35px;
  }

  a:hover, .change-streamer:hover, .submit-button:hover {
    background-color: lightseagreen;
    font-size: 1.25em;
}

  .game-summary {
    font-size: 1em;
  }

  footer {
    font-size: .75em;
  }

}

/* responsive CSS section for video-emb size */

@media only screen and (max-width: 399px) {
  .stream-video {
    width: 320px;
    height: 240px;
  }
}

@media only screen and (min-width: 850px) and (max-width: 1365px) {
     .stream-video {
    width: 840px;
    height: 630px;
  } 
}

@media only screen and (min-width: 1366px) {
  .stream-video {
    width: 940px;
    height: 705px;
  } 
}