/* main CSS section tailored towards mobile view - ordered from top of HTML to bottom */

* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.background {
  background: url('pics/sky.jpeg') no-repeat bottom center fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top-container {
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color:#252A3D;
  margin: 1px;
}

header {
  padding-bottom: 1.5%;
  font-size: 1em;
}

.guide-button {
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  text-align: center;
  font-size: .6em;
}

.guide-description {
  font-size: .75em;
}

.instructions {
  font-size: .75em;
}

ul {
  -webkit-padding-start: 0px;
  list-style-type: none;
  border: 1px solid black;
  text-align: center;
}

li {
  text-align: center;
}

.twitch-search-form {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
}

.search-query {
  width: 100%;
  border-radius: 2.5px;
  border: 1px solid black;
  font-size: 1em;
  color: black;
  margin-bottom: 2px; 
  text-align: left;
}

.submit-button {
  width: 100%;
  border-radius: 2.5px;
  border: 1px solid black;
  color: black;
  text-align: center;
  font-size: .75em;
}

.mid-container {
  min-height: 65vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5%;
  margin: 2.5px;
}

.streamer-name {
  display: flex;
  font-size: .75em;
  justify-content: center;
  border: 1px solid #A49693;
  background-color: #252A3D;
  color: white;
  width: 50%;
  height: 20px;
  margin: auto;
  margin-bottom: 5px;
}

.change-stream-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  padding: 5px;
}

.filter-label {
  padding: 3px;
  border: 2px solid #A49693;
  background-color: #252A3D;
  margin-right: 4px;
  font-size: .75em;
  border-radius: 5px;
}

.stream-filter{
  border-radius: 5px;
}
.stream-filter, option {
  border: 2px solid #A49693;
  color: #161824;
}

.change-streamer {
  border-radius: 5px;
  border: 2px solid #A49693;
  background-color: #252A3D;
  color: white;
  font-size: .75em;
  margin-left: 4px;
}

.change-streamer:active, .submit-button:active, .guide-button:active {
  transform: translateY(3px);
}

a:link {
    text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover, .change-streamer:hover, .submit-button:hover, .guide-button:hover {
  background-color: lightseagreen;
}

.error-message {
   background-color: #161824; 
   font-size: 1.5em;
}

section {
  display: flex;
  justify-content: center;
}
.bot-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  background-color:#252A3D;
}

.game-summary {
  width: 80%;
  font-size: .75em;
  border: 2px solid black;
  margin-bottom: 10px;
  padding: 15px;
}

.describe-switch {
  font-size: .75em;
  display: flex;
}

.background-switch {
  position: relative;
  display: flex; 
  width: 60px;
  height: 34px;
}

.background-switch input {display:none;}

 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
} 

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.slider-plate:checked + .slider {
  background-color: #2196F3;
}

.slider-plate:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.slider-plate:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

footer {
  padding: 5px;
  background-color:#252A3D;
  font-size: .5em;
}

/*  CSS section meant for laptop/computer screens */

@media only screen and (min-width: 850px) {

  header {
    font-size: 1.75em;
  }

  .guide-description {
    font-size: 1.25em;
  }

  .search-query {
    width: 28%;
  }

  .guide-button {
    font-size: .75em;
  }

  .twitch-search-form {
    display: flex;
    flex-direction: row;
  }

  .search-query {
    width: 50%;
    margin-right: 5px;
    margin-bottom: 0px;
  }
  .submit-button {
    width: 13%;
    font-size: 1em;
  }

  .streamer-name {
    width: 37%;
    font-size: 1em;
    min-height: 35px;
  }

  .change-streamer, .stream-filter, .filter-label {
    font-size: 1em;
  }

  a:hover, .change-streamer:hover, .submit-button:hover {
    background-color: lightseagreen;
}

  .game-summary {
    font-size: 1em;
    width: 50%;
  }

  footer {
    font-size: .75em;
  }


}

/* responsive CSS section for video-emb size */

@media only screen and (max-width: 399px) {
  .stream-video {
    width: 320px;
    height: 240px;
  }
}

@media only screen and (min-width: 850px) and (max-width: 1365px) {
     .stream-video {
    width: 840px;
    height: 630px;
  } 
}

@media only screen and (min-width: 1366px) {
  .stream-video {
    width: 940px;
    height: 705px;
  } 
}