* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    color: #faeff5;
    font-family: 'Poppins', sans-serif;
}

.top-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:#4F69C6;
  margin: 1px;
}

header {
  padding-bottom: 1.5%;
  font-size: 1em;
}

.description {
  padding-bottom: 1.5%;
  font-size: .75em;
}

.mid-container {
  min-height: 40vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5%;
  margin: 2.5px;
   background: url('play.jpeg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.streamer-name {
  display: flex;
  font-size: .75em;
  justify-content: center;
  border: 2px solid black;
  background-color:#29AB87;
  color: white;
  width: 50%;
  height: 20px;
  margin: auto;
  margin-bottom: 5px;
}

.change-streamer {
  border: 2px solid black;
  background-color: #29AB87;
  color: white;
  width: 40%;
  height: 25px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: .75em;
}

input {
  width: 60%;
  height: 30px;
  border-radius: 2.5px;
  margin: auto;
  border: 2px solid black;
  font-size: 1em;
  height: 55px;
  color: black;
}

.twitch-search {
  margin: auto;
  flex-direction: row;
  justify-content: center;
  width: 60%;
}

.submit-button {
  margin: auto;
  width: 32%; 
  height: 50px;
  border-radius: 2.5px;
  border: 2px solid black;
  color: black;
  text-align: center;
  padding-bottom: 15px;
  font-size: .75em;
}

.bot-container {
  display: flex;
  padding: 5px;
  background-color:#4F69C6;
}

img {
    margin: 0 auto;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover, .change-streamer:hover, .submit-button:hover {
    background-color: lightseagreen;
}

footer {
  padding: 5px;
  background-color:#4F69C6;
  font-size: .2em;
}

@media only screen and (min-width: 850px) {

  header {
    font-size: 1.75em;
  }

  .description {
    font-size: 1.25em;
  }

  .stream-video {
    width: 840px;
    height: 630px;
  }

  .change-streamer {
    width: 25%;
  }

  .submit-button {
    width: 13%;
    height: 65px;
    font-size: 1em;
  }

  input {
    width: 28%;
    height: 55px;
  }

  .submit-button, .change-streamer, .streamer-name {
    font-size: 1em;
  }
  
  .streamer-name, .change-streamer {
    height: 35px;
  }

  footer {
    font-size: .5em;
  }

}

@media only screen and (max-width: 399px) {
  .stream-video {
    width: 320px;
    height: 240px;
  }
}